{% load static i18n %}

<tr role="row">
    {% for title, ordering, min_width in table.columns_safe %}
        <th class="{% if ordering != None %}sorting sorting{% endif %}{% if forloop.counter0 == table.ordering_column_index %}{% if table.ordering_ascending %}_asc{% else %}_desc{% endif %} {% endif %}"
            tabindex="0" style="vertical-align: top; min-width:{{ min_width|default_if_none:0 }};"
            data-ordering="{{ forloop.counter0 }}"
            data-ordering-ascending="
                    {% if forloop.counter0 == table.ordering_column_index %}{{ table.ordering_ascending }}{% endif %}"
            aria-controls="tabela" rowspan="1" colspan="1" aria-label="{{ title }}: aktywuj zeby posortowac">
            {{ title }}
        </th>
    {% endfor %}
</tr>
