{% load static i18n %}

{% for header in table.columns_headers %}
    <th class="multi-sort-enabled sorted" tabindex="0"
        style="vertical-align: top;min-width:{{ header.min_width|default_if_none:0 }};" aria-controls="tabela"
        rowspan="1" colspan="1" data-column_id="{{ header.column_id }}"
        data-ascending="{{ header.ascending|yesno:'true,false' }}" data-sort_priority="{{ header.sort_priority }}">
        {% if header.ordering %}
            {% if header.sort_priority > 0 %}
                <div class="sortoptions">
                    <a class="sortremove" title="{% trans 'Remove from sorting' %}"></a>
                    {% if table.num_sorted_fields > 1 %}
                        <span class="sortpriority"
                              title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">
                {{ header.sort_priority }}
            </span>
                    {% endif %}
                    <a class="sorttoggle {% if header.ascending %}ascending{% else %}descending{% endif %}"
                       title="{% trans 'Toggle sorting' %}"></a>
                </div>
            {% endif %}
        {% endif %}
        <div class="text">
            {% if header.ordering %}
                <a class="sortorder">{{ header.title }}</a>
            {% else %}
                <span>{{ header.title }}</span>
            {% endif %}
        </div>
    </th>
{% endfor %}
