{% for row in table.rows %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		{{ row }}
	</tr>
{% empty %}
	<tr>
		<td colspan="{{ table.columns|length }}"><i>Brak wyników</i></td>
	</tr>
{% endfor %}