{% load tables %}
{% load staticfiles %}
{% load dajaxice_templatetags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="static/datatables/datatables.js"></script>
    <link href="static/datatables/datatables.css" rel="stylesheet" type="text/css">

    {% dajaxice_js_import %}

</head>
<body>

{% datatable buses_table %}


</body>
</html>
